[Desktop Entry]
Encoding=UTF-8
Name=XEphem
Comment=Interactive astronomy program
Comment[pl]=Interaktywny program astronomiczny
Icon=xephem.png
Exec=xephem
Terminal=false
Type=Application
Categories=Motif;Education;Science;Astronomy;
# vi: encoding=utf-8
